@import 'reset.css';
@import 'fonts.css';
@import 'variables.css';

html {
  background-color: var(--color-dark);
  color: var(--color-light);
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'BRRR';
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5vh;
}

h1 {
  font-size: 4.2rem;
  margin-bottom: 5vh;
}

section {
  max-width: 690px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 8vh;
}

section p {
  line-height: 1.5;
  font-size: 0.9rem;
}

section p:not(:last-child) {
  margin-bottom: 15px;
}

.subtitle {
  font-size: 1.7rem;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin-top: 8vh;
}

.social span {
  margin-bottom: 2vh;
}

a {
  color: var(--color-light);
  font-size: 0.8rem;
}
